@font-face {
  font-family: 'PressStart2P';
  src: url(./PressStart2P-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-display: swap;
  font-family: 'Inter-Variable';
  src:
    local('Roboto-Flex-Variable'),
    url('./fonts/Roboto-Flex-Variable.woff2') format('woff2 supports variations'),
        url('./fonts/Roboto-Flex-Variable.woff2') format('woff2-variations');
    font-weight: 410 715;
}