/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/



.like-icon {
  cursor: pointer;
}
.core{
    fill: transparent;
    transition: fill 0.3s linear 0.03s;
}
.contour{
    fill: var(--name);
    transition: fill 0.1s linear 0s;
}
.main-body{
    fill: transparent;
    transition: fill 0.3s linear 0s;
}
.sparks{
    opacity: 0;
}



.like-icon:hover .main-body {
  fill: var(--name);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .core {
  fill: var(--name); 
  transition: fill 0.3s linear 0s;
}



.like-icon:active .main-body {
  fill: var(--animation-fill-color); 
  transition: fill 0.3s linear 0.05s;
}
.like-icon:active .core {
  fill: var(--animation-fill-color); 
  transition: fill 0.3s linear 0s;
}



.like-icon.is-liked .contour{
    fill: var(--animation-fill-color);
    transition: fill 0.3s linear 0.06s;
}
.like-icon.is-liked .core{
    fill: var(--animation-fill-color);
    transition: fill 0.3s linear 0s;
}
.like-icon.is-liked .main-body{
   fill: var(--animation-fill-color);
   transition: fill 0.3s linear 0.05s;
}


.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
  transform-origin: center;
  animation-fill-mode: forwards;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s; 
}

@keyframes heart-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes sparks-flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}