/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.clamp__section {
  width: clamp(375px, 100vw, 700px);
  border: 2px solid var(--decor-color);
  background-color: white;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wdth" var(--wdth), "wght" var(--wght);
  background-image: var(--bg-grad);
  justify-items: center;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.header {
  font-family: var(--accent-font), fantasy;
  display: flex;
  min-height: 327px;
  margin-block-start: 100px;
  flex-direction: column;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  margin-block-end: 100px;
}

.header__title {
  font-size: 49px;
}

.header__description {
  margin-block-start: 20px;
  font-size: var(--button-size);
}

.card {
  margin-block-start: 50px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.card__title {
  padding: 4px 10px;
  text-wrap: balance;
  
  font-size: var(--card-size);
  font-variation-settings: "wdth" var(--wdth);
}

.card__image-wrapper {
  position: relative;
}

.card__image {
  width: 100%;
  display: block;
}

.card__image_sepia {
  filter: sepia(0.8);
}

.card__image_grayscale {
  filter: grayscale(0.6) contrast(1.2);
}

.card__image_hue-rotate-green {
  filter: hue-rotate(90deg) contrast(1.5) brightness(1.1);
}

.card__image_invert-contrast {
  filter: invert(1) brightness(0.9) contrast(1.3);
}

.card__image_invert {
  filter: invert(1);
}

.card__image_contrast {
  filter: contrast(1.4) brightness(0.9);
}

.card__image_blur {
  filter: blur(2px) brightness(0.85);
}

.card__image_cyan {
  filter: hue-rotate(180deg) saturate(1.5) brightness(1.1);
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font),fantasy;
  font-size: var(--button-size);
  text-transform: uppercase;
  color: var(--decor-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px -1px 0 var(--mix-color),
    1px -1px 0 var(--mix-color),
    -1px 1px 0 var(--mix-color),
    1px 1px 0 var(--mix-color);
}

@supports (-webkit-text-stroke: 1px var(--mix-color)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--mix-color);
  }
}

.card__description {
  padding: 27px 25px 0 25px;
  line-height: 21px;
  font-variation-settings: "wght" var(--wght);
}

.card_memory {
  padding: 0 25px;
}

.buttons {
  display: flex;
  align-self: end;
  margin-block-start: 25px;
  margin-inline-end: 25px;
  margin-block-end: 20px;
  gap: 5px;
}

.card__like-button {
  width: 130px;
  height: 38px;
  overflow: hidden;
  cursor: pointer;
  border: none;
  min-width: 130px;
  justify-content: center;
  z-index: 1;
}

.card__icon-button {
  width: 38px;
  height: 38px;
  border: 2px solid var(--mix-color);
  background-color: inherit;
  animation: heart-like;
  transition: border 0.3s ease;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--decor-color);
}

.save__memory {
  margin-block-start: 50px;
  justify-self: center;
}

.save__button {
  width: 306px;
  height: 84px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  overflow: hidden;
}

.save__button-text,
.dialog__button-text {
  font-family: var(--accent-font),fantasy;
  font-size: var(--button-size);
  color: var(--mix-color);
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
}

.save__diskette-icon {
  width: 28px;
  height: 28px;
  mix-blend-mode: difference;
}

.dialog__diskette-icon {
  height: 39px;
  width: 39px;
  mix-blend-mode: difference;
}

.dialog[open] {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  width: 341px;
  height: 191px;
  overflow: hidden;
  box-sizing: border-box;
  justify-items: center;
  align-items: center;
  padding:30px;
}

.dialog::backdrop{
  background-color: var(--decor-color);
  opacity: 0.75;
}

.dialog__row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__text {
  font-family: var(--accent-font),fantasy;
  font-size: var(--button-size);
  width: 234px;
  text-transform: uppercase;
  line-height: 150%;
}

.dialog__button {
  width: 100%;
  height: 38px;
  align-self: end;
}

.button {
  box-sizing: border-box;
  border: 2px solid var(--decor-color);
  background-color: var(--mix-color);
  position: relative;
  transition: box-shadow 0.3s ease;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--decor-color);
}

.button:focus{
  outline: none;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  font-family: var(--accent-font),fantasy;
  font-size: var(--button-size);
  color: var(--mix-color);
  mix-blend-mode: difference;
}

@media (width > 375px) {
  .header {
    height: 368px;
  }

  .header__title {
    font-size: clamp(49px, 10vw, 65px);
    box-sizing: border-box;
  }

  .header__description {
    font-size: clamp(14px, 3vw, 23px);
  }

  .dialog[open] {
    width: clamp(341px, 100vw, 353px);
  }

  .save__button {
    flex-direction: row-reverse;
    width: 335px;
    height: 55px;
    gap: 10px;
  }

  .save__button-text {
    margin: 0;
  }

  .save__diskette-icon {
    height: 21px;
    width: 21px;
  }
}
